<div class="container">
  <%= form_with url: create_item_path, methods: :post, class: 'form-control' do |form| %>
    <div>
      <%= form.label :menu_category_id, "Please select menu category", class: 'form-label' %>
      <%= form.text_field :menu_category_id, class: 'form-input' %>
    </div>
    <div>
      <%= form.label :name, "Enter menu item name", class: 'form-label' %>
      <%= form.text_field :name, class: 'form-input' %>
    </div>
    <div>
      <%= form.label :description, "Enter menu item description", class: 'form-label' %>
      <%= form.text_area :description, class: 'form-input' %>
    </div>
    <div>
      <%= form.label :name, "Enter menu item price", class: 'form-label' %>
      <%= form.number_field :name, class: 'form-input' %>
    </div>

    <%= form.submit "Submit", class: 'form-input' %>
  <% end %>
</div>
